<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>parkplus.OperatorExit</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Click_on_scan_qr_code_button</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clear_phone_text_field</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>input_phone_number_in_text_field</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>submit_qr_code_for_exit_from_mall</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Click_on_verify_button</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>enter_otp_in_otp_boxes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Enter_qr_code_to_exit_from_mall</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>open_operator_login_page</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>submit_otp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>parkplus.Tenant</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Click_on_scan_qr_code_button_to_entry</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>submit_qr_code_for_exit</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>enter_otp_in_otp_boxes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Click_on_scan_qr_code_button_to_exit</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>enter_vistors_in_store</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Enter_qr_code_to_exit</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clear_phone_text_field</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>input_phone_number_in_text_field</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Enter_qr_code_to_store_entry</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Click_on_verify_button</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>exit_vistors_from_store</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>submit_qr_code_for__visitor_entry</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>open_tetant_login_page</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tenant_logout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>submit_otp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>parkplus.Operator</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Click_on_scan_qr_code_button</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>check_temprature_and_make_entry</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clear_phone_text_field</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>input_phone_number_in_text_field</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>submit_qr_code_for_entry</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>operator_logout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Click_on_verify_button</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>enter_otp_in_otp_boxes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>open_operator_login_page</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>submit_otp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Enter_qr_code</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>parkplus.Visitor</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>bookings_screen_shoping_parking_tab_switch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>enter_otp_in_otp_boxes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>add_visitor</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>read_qr_go_to_home</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Confirm_terms_and_conditions_and_submit</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>open_visitor_login_page</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>accept_terms_and_conditions</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clear_phone_text_field</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>home_goto_my_bookings</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>input_phone_number_in_text_field</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Click_on_verify_button</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>go_back_from_my_bookings_to_home_screen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>submit_otp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
