<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="64f478">  <td>20/08/18 18:40:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Operator.Click_on_scan_qr_code_button()[pri:6, instance:parkplus.Operator@2c1b194a]">Click_on_scan_qr_code_button</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="a7679e">  <td>20/08/18 18:40:18</td>   <td>12344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorExit.Click_on_scan_qr_code_button()[pri:6, instance:parkplus.OperatorExit@4b8ee4de]">Click_on_scan_qr_code_button</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="7da279">  <td>20/08/18 18:40:08</td>   <td>2173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tenant.Click_on_scan_qr_code_button_to_entry()[pri:6, instance:parkplus.Tenant@82de64a]">Click_on_scan_qr_code_button_to_entry</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="7da279">  <td>20/08/18 18:40:10</td>   <td>4223</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tenant.Click_on_scan_qr_code_button_to_exit()[pri:10, instance:parkplus.Tenant@82de64a]">Click_on_scan_qr_code_button_to_exit</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="73d990">  <td>20/08/18 18:39:25</td>   <td>-40618</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Visitor.Click_on_verify_button()[pri:3, instance:parkplus.Visitor@f5acb9d]">Click_on_verify_button</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="64f478">  <td>20/08/18 18:40:04</td>   <td>-1059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Operator.Click_on_verify_button()[pri:3, instance:parkplus.Operator@2c1b194a]">Click_on_verify_button</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="7da279">  <td>20/08/18 18:40:07</td>   <td>1139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tenant.Click_on_verify_button()[pri:3, instance:parkplus.Tenant@82de64a]">Click_on_verify_button</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="a7679e">  <td>20/08/18 18:40:17</td>   <td>11318</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorExit.Click_on_verify_button()[pri:3, instance:parkplus.OperatorExit@4b8ee4de]">Click_on_verify_button</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="73d990">  <td>20/08/18 18:39:34</td>   <td>-31748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Visitor.Confirm_terms_and_conditions_and_submit()[pri:8, instance:parkplus.Visitor@f5acb9d]">Confirm_terms_and_conditions_and_submit</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="64f478">  <td>20/08/18 18:40:06</td>   <td>1011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Operator.Enter_qr_code()[pri:7, instance:parkplus.Operator@2c1b194a]">Enter_qr_code</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="7da279">  <td>20/08/18 18:40:11</td>   <td>5233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tenant.Enter_qr_code_to_exit()[pri:11, instance:parkplus.Tenant@82de64a]">Enter_qr_code_to_exit</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="a7679e">  <td>20/08/18 18:40:19</td>   <td>13349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorExit.Enter_qr_code_to_exit_from_mall()[pri:7, instance:parkplus.OperatorExit@4b8ee4de]">Enter_qr_code_to_exit_from_mall</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="7da279">  <td>20/08/18 18:40:09</td>   <td>3184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tenant.Enter_qr_code_to_store_entry()[pri:7, instance:parkplus.Tenant@82de64a]">Enter_qr_code_to_store_entry</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="73d990">  <td>20/08/18 18:39:33</td>   <td>-32767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Visitor.accept_terms_and_conditions()[pri:7, instance:parkplus.Visitor@f5acb9d]">accept_terms_and_conditions</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="73d990">  <td>20/08/18 18:39:32</td>   <td>-33785</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Visitor.add_visitor()[pri:6, instance:parkplus.Visitor@f5acb9d]">add_visitor</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="73d990">  <td>20/08/18 18:39:57</td>   <td>-8343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Visitor.bookings_screen_shoping_parking_tab_switch()[pri:11, instance:parkplus.Visitor@f5acb9d]">bookings_screen_shoping_parking_tab_switch</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="64f478">  <td>20/08/18 18:40:06</td>   <td>1032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Operator.check_temprature_and_make_entry()[pri:9, instance:parkplus.Operator@2c1b194a]">check_temprature_and_make_entry</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="73d990">  <td>20/08/18 18:39:25</td>   <td>-40841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Visitor.clear_phone_text_field()[pri:1, instance:parkplus.Visitor@f5acb9d]">clear_phone_text_field</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="64f478">  <td>20/08/18 18:40:04</td>   <td>-1198</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Operator.clear_phone_text_field()[pri:1, instance:parkplus.Operator@2c1b194a]">clear_phone_text_field</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="7da279">  <td>20/08/18 18:40:07</td>   <td>1121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tenant.clear_phone_text_field()[pri:1, instance:parkplus.Tenant@82de64a]">clear_phone_text_field</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="a7679e">  <td>20/08/18 18:40:17</td>   <td>11300</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorExit.clear_phone_text_field()[pri:1, instance:parkplus.OperatorExit@4b8ee4de]">clear_phone_text_field</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="73d990">  <td>20/08/18 18:39:31</td>   <td>-34845</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Visitor.enter_otp_in_otp_boxes()[pri:4, instance:parkplus.Visitor@f5acb9d]">enter_otp_in_otp_boxes</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="64f478">  <td>20/08/18 18:40:04</td>   <td>-1027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Operator.enter_otp_in_otp_boxes()[pri:4, instance:parkplus.Operator@2c1b194a]">enter_otp_in_otp_boxes</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="7da279">  <td>20/08/18 18:40:07</td>   <td>1146</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tenant.enter_otp_in_otp_boxes()[pri:4, instance:parkplus.Tenant@82de64a]">enter_otp_in_otp_boxes</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="a7679e">  <td>20/08/18 18:40:17</td>   <td>11328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorExit.enter_otp_in_otp_boxes()[pri:4, instance:parkplus.OperatorExit@4b8ee4de]">enter_otp_in_otp_boxes</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="7da279">  <td>20/08/18 18:40:09</td>   <td>3215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tenant.enter_vistors_in_store()[pri:9, instance:parkplus.Tenant@82de64a]">enter_vistors_in_store</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="7da279">  <td>20/08/18 18:40:11</td>   <td>5251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tenant.exit_vistors_from_store()[pri:13, instance:parkplus.Tenant@82de64a]">exit_vistors_from_store</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="73d990">  <td>20/08/18 18:39:58</td>   <td>-7328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Visitor.go_back_from_my_bookings_to_home_screen()[pri:12, instance:parkplus.Visitor@f5acb9d]">go_back_from_my_bookings_to_home_screen</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="73d990">  <td>20/08/18 18:39:56</td>   <td>-9356</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Visitor.home_goto_my_bookings()[pri:10, instance:parkplus.Visitor@f5acb9d]">home_goto_my_bookings</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="85dc6f">  <td>20/08/18 18:39:15</td>   <td>-50179</td> <td title="&gt;&gt;LaunchBrowser.initbrowser(java.lang.String)[pri:0, instance:parkplus.OperatorExit@4b8ee4de]">&gt;&gt;initbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="73d990">  <td>20/08/18 18:39:25</td>   <td>-40748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Visitor.input_phone_number_in_text_field()[pri:2, instance:parkplus.Visitor@f5acb9d]">input_phone_number_in_text_field</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="64f478">  <td>20/08/18 18:40:04</td>   <td>-1087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Operator.input_phone_number_in_text_field()[pri:2, instance:parkplus.Operator@2c1b194a]">input_phone_number_in_text_field</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="7da279">  <td>20/08/18 18:40:07</td>   <td>1129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tenant.input_phone_number_in_text_field()[pri:2, instance:parkplus.Tenant@82de64a]">input_phone_number_in_text_field</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="a7679e">  <td>20/08/18 18:40:17</td>   <td>11309</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorExit.input_phone_number_in_text_field()[pri:2, instance:parkplus.OperatorExit@4b8ee4de]">input_phone_number_in_text_field</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="64f478">  <td>20/08/18 18:40:04</td>   <td>-1215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Operator.open_operator_login_page()[pri:0, instance:parkplus.Operator@2c1b194a]">open_operator_login_page</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="a7679e">  <td>20/08/18 18:40:17</td>   <td>11290</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorExit.open_operator_login_page()[pri:0, instance:parkplus.OperatorExit@4b8ee4de]">open_operator_login_page</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="7da279">  <td>20/08/18 18:40:07</td>   <td>1109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tenant.open_tetant_login_page()[pri:0, instance:parkplus.Tenant@82de64a]">open_tetant_login_page</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="73d990">  <td>20/08/18 18:39:19</td>   <td>-46314</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Visitor.open_visitor_login_page()[pri:0, instance:parkplus.Visitor@f5acb9d]">open_visitor_login_page</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="64f478">  <td>20/08/18 18:40:06</td>   <td>1056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Operator.operator_logout()[pri:10, instance:parkplus.Operator@2c1b194a]">operator_logout</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="73d990">  <td>20/08/18 18:39:35</td>   <td>-30731</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Visitor.read_qr_go_to_home()[pri:9, instance:parkplus.Visitor@f5acb9d]">read_qr_go_to_home</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="73d990">  <td>20/08/18 18:39:31</td>   <td>-34804</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Visitor.submit_otp()[pri:5, instance:parkplus.Visitor@f5acb9d]">submit_otp</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="64f478">  <td>20/08/18 18:40:04</td>   <td>-1015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Operator.submit_otp()[pri:5, instance:parkplus.Operator@2c1b194a]">submit_otp</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="7da279">  <td>20/08/18 18:40:07</td>   <td>1160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tenant.submit_otp()[pri:5, instance:parkplus.Tenant@82de64a]">submit_otp</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="a7679e">  <td>20/08/18 18:40:17</td>   <td>11334</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorExit.submit_otp()[pri:5, instance:parkplus.OperatorExit@4b8ee4de]">submit_otp</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="7da279">  <td>20/08/18 18:40:09</td>   <td>3208</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tenant.submit_qr_code_for__visitor_entry()[pri:8, instance:parkplus.Tenant@82de64a]">submit_qr_code_for__visitor_entry</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="64f478">  <td>20/08/18 18:40:06</td>   <td>1021</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Operator.submit_qr_code_for_entry()[pri:8, instance:parkplus.Operator@2c1b194a]">submit_qr_code_for_entry</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="7da279">  <td>20/08/18 18:40:11</td>   <td>5243</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tenant.submit_qr_code_for_exit()[pri:12, instance:parkplus.Tenant@82de64a]">submit_qr_code_for_exit</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="a7679e">  <td>20/08/18 18:40:19</td>   <td>13357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OperatorExit.submit_qr_code_for_exit_from_mall()[pri:8, instance:parkplus.OperatorExit@4b8ee4de]">submit_qr_code_for_exit_from_mall</td> 
  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="7da279">  <td>20/08/18 18:40:12</td>   <td>6262</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tenant.tenant_logout()[pri:14, instance:parkplus.Tenant@82de64a]">tenant_logout</td> 
  <td>main@417301556</td>   <td></td> </tr>
</table>
